<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vishad.afinal">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".firstTime">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_first_time"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Todaysms"
            android:label="@string/title_activity_todaysms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Yesterdaysms"
            android:label="@string/title_activity_yesterdaysms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Thisweeksms"
            android:label="@string/title_activity_thisweeksms"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lastweeksms"
            android:label="@string/title_activity_lastweeksms"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>